.feedback {
    &__wrapper {
        padding: 70px 0 70px 0;
    }
    &__client {
        display: flex;
        margin-bottom: 100px;
        &_img {
            width: 169px;
           height: 169px;
            margin-right: 62px;
        }
    }
    &__disc {
        &_name {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        &_achievements {
            color: #646464;
            font-size: 14px;
            font-weight: 300;
        }
        &_text {
            margin-top: 19px;
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 300;
        }
    }
}